<html>
    <head>
        <title>Find Account</title>
        <meta charset="utf-8">
        <meta name="viewport" content=" initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div class="container">
            <h2 >Find Account</h2>
            <form action="/action_page.php">
              <div class="form-group">
                <label for="AccountID">Enter Account ID:</label>
                <input type="AccountID" class="form-control" id="AccountID" placeholder="Account ID" name="AccountID">
              </div>
              <button type="submit" class="btn btn-success" >Search Customer</button>
            </form>
            <h4 style="padding: 10px 0px 10px 0px;">OR</h4>
            <form action="/action_page.php">
              <div class="form-group">
                <label for="CustID">Enter Customer ID:</label>
                <input type="CustID" class="form-control" id="CustID" placeholder="Customer ID" name="CustID">
              </div>
              <button type="submit" class="btn btn-success" >Search Customer</button>
            </form>
          </div>
    </body>
</html>